In [2]:
import pandas as pd
import numpy as np

# Ścieżka do pliku
raw_file_path = 'D:/BK_dokumenty_D2/LendingClub/accepted_2007_to_2018Q4.csv'

In [3]:
# Wybieram potrzebne kolumny

# (bez nrows),tylko wybrane kolumny
df = pd.read_csv(raw_file_path, low_memory=False)

In [5]:
df.shape

(2260701, 151)

In [6]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
pd.set_option("display.max_columns", None)
df.describe(include="all")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
count,2260701,0.0,2.260668e+06,2.260668e+06,2.260668e+06,2260668,2.260668e+06,2.260668e+06,2260668,2260668,2093699,2113761,2260668,2.260664e+06,2260668,2260668,2260668,2260668,2260668,126067,2260668,2237343,2260667,2260668,2.258957e+06,2.260639e+06,2260639,2.260668e+06,2.260668e+06,2.260638e+06,1.102166e+06,359156.000000,2.260639e+06,2.260639e+06,2.260668e+06,2.258866e+06,2.260639e+06,2260668,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2258241,2.260668e+06,915358,2260596,2.260668e+06,2.260668e+06,2.260523e+06,580775.000000,2260668.0,2260668,1.207100e+05,120706.000000,115730,2.260639e+06,2.190392e+06,2.190392e+06,1.394538e+06,1.394539e+06,1.394539e+06,1.394539e+06,1.350744e+06,1.394539e+06,1.191818e+06,1.394539e+06,1.394539e+06,1.394539e+06,1.394320e+06,2.190392e+06,1.394539e+06,1.394538e+06,1.394538e+06,2.210638e+06,2.190322e+06,2.185733e+06,2.184597e+06,2.260523e+06,2.260639e+06,2.121597e+06,2.190391e+06,2.190391e+06,2.190392e+06,2.210638e+06,2.187256e+06,519701.000000,1.965233e+06,740359.000000,2.190392e+06,2.190392e+06,2.190392e+06,2.202078e+06,2.190392e+06,2.190392e+06,2.190392e+06,2.190391e+06,2.190392e+06,2.202078e+06,2.107011e+06,2.190392e+06,2.190392e+06,2.190392e+06,2.190237e+06,2.185289e+06,2.259303e+06,2.260563e+06,2.190392e+06,2.210638e+06,2.210638e+06,2.190392e+06,1.080200e+05,108021.000000,108021.000000,108021,108021.000000,108021.000000,108021.000000,106184.000000,108021.000000,108021.000000,108021.000000,108021.000000,35942.000000,2260668,10917,10917,10917,10917.0,10917.000000,10917,10917,10917,10917.0,10917.000000,10917,8651.000000,10917.000000,10917.000000,2260668,2260668,34246,34246,34246,34246.000000,34246.000000,34246.000000
unique,2260701,NaN,NaN,NaN,NaN,2,NaN,NaN,7,35,512694,11,6,NaN,3,139,9,2,2260668,124501,14,63155,956,51,NaN,NaN,754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136,NaN,106,141,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,9,3,NaN,NaN,27,28,27,NaN,NaN,5,NaN,NaN,NaN,2,2,83,3,90,NaN,NaN,NaN
top,68407277,NaN,NaN,NaN,NaN,36 months,NaN,NaN,B,C1,Teacher,10+ years,MORTGAGE,NaN,Source Verified,Mar-2016,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,,debt_consolidation,Debt consolidation,112xx,CA,NaN,NaN,Sep-2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mar-2019,NaN,Apr-2019,Mar-2019,NaN,NaN,NaN,NaN,NaN,Individual,NaN,NaN,Not Verified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aug-2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,NATURAL_DISASTER,COMPLETED,NaN,NaN,Sep-2017,Dec-2017,Sep-2017,NaN,NaN,Late (16-30 days),NaN,NaN,NaN,Cash,N,Feb-2019,ACTIVE,Jan-2019,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,1609754,NaN,NaN,663557,145903,38824,748005,1111450,NaN,886231,61992,1076751,2260048,1,252,1277877,1153293,23908,314533,NaN,NaN,15400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1535467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,853003,NaN,912221,1371381,NaN,NaN,NaN,NaN,NaN,2139958,NaN,NaN,57403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2259836,10917,2965,7819,NaN,NaN,2444,1756,1715,NaN,NaN,4770,NaN,NaN,NaN,2182546,2226422,2606,14704,1710,NaN,NaN,NaN
mean,NaN,NaN,1.504693e+04,1.504166e+04,1.502344e+04,NaN,1.309283e+01,4.458068e+02,NaN,NaN,NaN,NaN,NaN,7.799243e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.882420e+01,3.068792e-01,NaN,6.985882e+02,7.025884e+02,5.768354e-01,3.454092e+01,72.312842,1.161240e+01,1.975278e-01,1.665846e+04,5.033770e+01,2.416255e+01,NaN,4.206891e+03,4.205965e+03,1.208256e+04,1.206439e+04,9.505772e+03,2.431388e+03,1.518453e+00,1.438791e+02,2.398257e+01,NaN,3.429346e+03,NaN,NaN,6.876610e+02,6.755397e+02,1.814580e-02,44.164220,1.0,NaN,1.236246e+05,19.251817,NaN,4.147942e-03,2.327317e+02,1.424922e+05,9.344199e-01,2.779407e+00,6.764314e-01,1.562752e+00,2.122236e+01,3.550665e+04,6.914098e+01,1.290133e+00,2.749923e+00,5.806393e+03,5.703230e+01,3.457394e+04,1.012867e+00,1.477304e+00,2.036667e+00,4.521656e+00,1.354780e+04,1.139426e+04,5.789995e+01,8.464413e-03,1.236983e+01,1.257378e+02,1.814916e+02,1.402409e+01,8.297469e+00,1.555382e+00,2.484485e+01,39.303090,7.024194e+00,35.782223,5.002082e-01,3.676069e+00,5.629468e+00,4.774183e+00,7.726402e+00,8.413439e+00,8.246523e+00,1.400463e+01,5.577951e+00,1.162813e+01,6.373958e-04,2.813652e-03,8.293767e-02,2.076755e+00,9.411458e+01,4.243513e+01,1.281935e-01,4.677109e-02,1.782428e+05,5.102294e+04,2.319377e+04,4.373201e+04,3.361728e+04,669.755603,673.755631,NaN,0.633256,1.538997,11.469455,58.169101,3.010554,12.533072,0.046352,0.077568,36.937928,NaN,NaN,NaN,NaN,3.0,155.045981,NaN,NaN,NaN,3.0,13.743886,NaN,454.798089,11636.883942,193.994321,NaN,NaN,NaN,NaN,NaN,5010.664267,47.780365,13.191322
std,NaN,NaN,9.190245e+03,9.188413e+03,9.192332e+03,NaN,4.832138e+00,2.671735e+02,NaN,NaN,NaN,NaN,NaN,1.126962e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.418333e+01,8.672303e-01,NaN,3.301038e+01,3.301124e+01,8.859632e-01,2.190047e+01,26.464094,5.640861e+00,5.705150e-01,2.294831e+04,2.471307e+01,1.198753e+01,NaN,7.343239e+03,7.342333e+03,9.901383e+03,9.896992e+03,8.321852e+03,2.679738e+03,1.184159e+01,7.481640e+02,1.312256e+02,NaN,6.018248e+03,NaN,NaN,7.297044e+01,1.110976e+02,1.508131e-01,21.533121,0.0,NaN,7.416135e+04,7.822086,NaN,6.961656e-02,8.518462e+03,1.606926e+05,1.140700e+00,3.000784e+00,9.256354e-01,1.578672e+00,2.604919e+01,4.409746e+04,2.374839e+01,1.506827e+00,2.596911e+00,5.690561e+03,2.090475e+01,3.672850e+04,1.489456e+00,2.672991e+00,2.383117e+00,3.164229e+00,1.647408e+04,1.659953e+04,2.858347e+01,1.048098e-01,7.264648e+02,5.338218e+01,9.711845e+01,1.753308e+01,9.208557e+00,1.904981e+00,3.231925e+01,22.617689,5.965411e+00,22.307239,1.350326e+00,2.324646e+00,3.382874e+00,3.037921e+00,4.701430e+00,7.359114e+00,4.683928e+00,8.038868e+00,3.293434e+00,5.644027e+00,2.710643e-02,5.616522e-02,4.935732e-01,1.830711e+00,9.036140e+00,3.621616e+01,3.646130e-01,3.775338e-01,1.815748e+05,4.991124e+04,2.300656e+04,4.507298e+04,2.815387e+04,44.729163,44.729272,NaN,0.993401,1.760569,6.627271,25.548212,3.275893,8.150964,0.411496,0.407996,23.924584,NaN,NaN,NaN,NaN,0.0,129.040594,NaN,NaN,NaN,0.0,9.671178,NaN,375.385500,7625.988281,198.629496,NaN,NaN,NaN,NaN,NaN,3693.122590,7.311822,8.159980
min,NaN,NaN,5.000000e+02,5.000000e+02,0.000000e+00,NaN,5.310000e+00,4.930000e+00,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000e+00,0.000000e+00,NaN,6.100000e+02,6.140000e+02,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.500000e-09,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,1.0,NaN,5.693510e+03,0.000000,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,540.000000,544.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,3.0,0.640000,NaN,NaN,NaN,3.0,0.000000,NaN,1.920000,55.730000,0.010000,NaN,NaN,NaN,NaN,NaN,44.210000,0.200000,0.000000
25%,NaN,NaN,8.000000e+03,8.000000e+03,8.000000e+03,NaN,9.490000e+00,2.516500e+02,NaN,NaN,NaN,NaN,NaN,4.600000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.189000e+01,0.000000e+00,NaN,6.750000e+02,6.790000e+02,0.000000e+00,1.600000e+01,55.000000,8.000000e+00,0.000000e+00,5.950000e+03,3.150000e+01,1.500000e+01,NaN,0.000000e+00,0.000000e+00,4.546458e+03,4.531800e+03,3.000000e+03,7.281875e+02,0.000000e+00,0.000000e+00,0.000000e+00,NaN,3.103300e+02,NaN,NaN,6.540000e+02,6.500000e+02,0.000000e+00,27.000000,1.0,NaN,8.340000e+04,13.530000,NaN,0.000000e+00,0.000000e+00,2.909200e+04,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00,8.695000e+03,5.500000e+01,0.000000e+00,1.000000e+00,2.284000e+03,4.300000e+01,1.470000e+04,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,3.080000e+03,1.722000e+03,3.540000e+01,0.000000e+00,0.000000e+00,9.600000e+01,1.160000e+02,4.000000e+00,3.000000e+00,0.000000e+00,6.000000e+00,21.000000,2.000000e+00,17.000000,0.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,3.000000e+00,5.000000e+00,8.000000e+00,3.000000e+00,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,9.130000e+01,0.000000e+00,0.000000e+00,0.000000e+00,5.073100e+04,2.089200e+04,8.300000e+03,1.500000e+04,1.510675e+04,645.000000,649.000000,NaN,0.000000,0.000000,7.000000,39.800000,1.000000,7.000000,0.000000,0.000000,16.000000,NaN,NaN,NaN,NaN,3.0,59.440000,NaN,NaN,NaN,3.0,5.000000,NaN,175.230000,5627.000000,44.440000,NaN,NaN,NaN,NaN,NaN,2208.000000,45.000000,6.000000
50%,NaN,NaN,1.290000e+04,1.287500e+04,1.280000e+04,NaN,1.262000e+01,3.779900e+02,NaN,NaN,NaN,NaN,NaN,6.500000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.784000e+01,0.000000e+00,NaN,6.900000e+02,6.940000e+02,0.000000e+00,3.100000e+01,74.000000,1.100000e+01,0.000000e+00,1.132400e+04,5.030000e+01,2.200000e+01,NaN,0.000000e+00,0.000000e+00,9.329720e+03,9.309675e+03,7.000000e+03,1.525940e+03,0.000000e+00,0.000000e+00,0.000000e+00,NaN,6.005700e+02,NaN,NaN,6.990000e+02,6.950000e+02,0.000000e+00,44.000000,1.0,NaN,1.100000e+05,18.840000,NaN,0.000000e+00,0.000000e+00,7.924000e+04,1.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,1.300000e+01,2.312700e+04,7.200000e+01,1.000000e+00,2.000000e+00,4.413000e+03,5.800000e+01,2.540000e+04,1.000000e+00,0.000000e+00,1.000000e+00,4.000000e+00,7.335000e+03,5.442000e+03,6.020000e+01,0.000000e+00,0.000000e+00,1.300000e+02,1.640000e+02,8.000000e+00,6.000000e+00,1.000000e+00,1.400000e+01,37.000000,5.000000e+00,33.000000,0.000000e+00,3.000000e+00,5.000000e+00,4.000000e+00,7.000000e+00,6.000000e+00,7.000000e+00,1.200000e+01,5.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+02,3.750000e+01,0.000000e+00,0.000000e+00,1.142985e+05,3.786400e+04,1.630000e+04,3.269600e+04,2.651650e+04,670.000000,674.000000,NaN,0.000000,1.000000,10.000000,60.200000,2.000000,11.000000,0.000000,0.000000,36.000000,NaN,NaN,NaN,NaN,3.0,119.140000,NaN,NaN,NaN,3.0,15.000000,NaN,352.770000,10028.390000,133.160000,NaN,NaN,NaN,NaN,NaN,4146.110000,45.000000,14.000000
75%,NaN,NaN,2.000000e+04,2.000000e+04,2.000000e+04,NaN,1.599000e+01,5.933200e+02,NaN,NaN,NaN,NaN,NaN,9.300000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.449000e+01,0.000000e+00,NaN,7.150000e+02,7.190000e+02,1.000000e+00,5.000000e+01,92.000000,1.400000e+01,0.000000e+00,2.024600e+04,6.940000e+01,3.100000e+01,NaN,6.149940e+03,6.146310e+03,1.694087e+04,1.691671e+04,1.389910e+04,3.108062e+03,0.000000e+00,0.000000e+00,0.000000e+00,NaN,3.743750e+03,NaN,NaN,7.340000e+02,7.300000e+02,0.000000e+00,62.000000,1.0,NaN,1.479950e+05,24.620000,NaN,0.000000e+00,0.000000e+00,2.132040e+05,1.000000e+00,3.000000e+00,1.000000e+00,2.000000e+00,2.400000e+01,4.609500e+04,8.600000e+01,2.000000e+00,4.000000e+00,7.598000e+03,7.200000e+01,4.320000e+04,1.000000e+00,2.000000e+00,3.000000e+00,6.000000e+00,1.878300e+04,1.418700e+04,8.310000e+01,0.000000e+00,0.000000e+00,1.540000e+02,2.320000e+02,1.700000e+01,1.100000e+01,3.000000e+00,3.000000e+01,57.000000,1.100000e+01,51.000000,0.000000e+00,5.000000e+00,7.000000e+00,6.000000e+00,1.000000e+01,1.100000e+01,1.000000e+01,1.800000e+01,7.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,1.000000e+02,7.140000e+01,0.000000e+00,0.000000e+00,2.577550e+05,6.435000e+04,3.030000e+04,5.880425e+04,4.376900e+04,695.000000,699.000000,NaN,1.000000,2.000000,15.000000,78.600000,4.000000,17.000000,0.000000,0.000000,56.000000,NaN,NaN,NaN,NaN,3.0,213.260000,NaN,NaN,NaN,3.0,22.000000,NaN,620.175000,16151.890000,284.190000,NaN,NaN,NaN,NaN,NaN,6850.172500,50.000000,18.000000
max,NaN,NaN,4.000000e+04,4.000000e+04,4.000000e+04,NaN,3.099000e+01,1.719830e+03,NaN,NaN,NaN,NaN,NaN,1.100000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.990000e+02,5.800000e+01,NaN,8.450000e+02,8.500000e+02,3.300000e+01,2.260000e+02,129.000000,1.010000e+02,8.600000e+01,2.904836e+06,8.923000e+02,1.760000e+02,NaN,4.000000e+04,4.000000e+04,6.329688e+04,6.329688e+04,4.000000e+04,2.819250e+04,1.484340e+03,3.985955e+04,7.174719e+03,NaN,4.219205e+04,NaN,NaN,8.500000e+02,8.450000e+02,2.000000e+01,226.000000,1.0,NaN,7.874821e+06,69.490000,NaN,1.400000e+01,9.152545e+06,9.971659e+06,1.800000e+01,5.700000e+01,2.500000e+01,5.100000e+01,5.110000e+02,1.837038e+06,1.000000e+03,2.800000e+01,6.000000e+01,1.170668e+06,2.390000e+02,9.999999e+06,4.800000e+01,1.110000e+02,6.700000e+01,6.400000e+01,9.580840e+05,7.111400e+05,3.396000e+02,1.000000e+01,2.499250e+05,9.990000e+02,9.990000e+02,5.470000e+02,3.820000e+02,9.400000e+01,6.610000e+02,202.000000,2.500000e+01,202.000000,5.800000e+01,5.000000e+01,7.200000e+01,7.100000e+01,8.600000e+01,1.590000e+02,9.100000e+01,1.510000e+02,6.500000e+01,1.010000e+02,7.000000e+00,4.000000e+00,5.800000e+01,3.200000e+01,1.000000e+02,1.000000e+02,1.200000e+01,8.500000e+01,9.999999e+06,3.408095e+06,1.569000e+06,2.118996e+06,1.110019e+06,845.000000,850.000000,NaN,6.000000,27.000000,82.000000,434.300000,43.000000,106.000000,21.000000,23.000000,185.000000,NaN,NaN,NaN,NaN,3.0,943.940000,NaN,NaN,NaN,3.0,37.000000,NaN,2680.890000,40306.410000,1407.860000,NaN,NaN,NaN,NaN,NaN,33601.000000,521.350000,181.000000

In [ ]:
pd.reset_option("display.max_columns")

In [12]:
summary = df.describe(include="all").T
summary

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,2260701,2260701,68407277,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
member_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_amnt,2260668.0,NaN,NaN,NaN,15046.931228,9190.245488,500.0,8000.0,12900.0,20000.0,40000.0
funded_amnt,2260668.0,NaN,NaN,NaN,15041.664057,9188.413022,500.0,8000.0,12875.0,20000.0,40000.0
funded_amnt_inv,2260668.0,NaN,NaN,NaN,15023.437745,9192.331679,0.0,8000.0,12800.0,20000.0,40000.0
...,...,...,...,...,...,...,...,...,...,...,...
settlement_status,34246,3,ACTIVE,14704,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_date,34246,90,Jan-2019,1710,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_amount,34246.0,NaN,NaN,NaN,5010.664267,3693.12259,44.21,2208.0,4146.11,6850.1725,33601.0
settlement_percentage,34246.0,NaN,NaN,NaN,47.780365,7.311822,0.2,45.0,45.0,50.0,521.35
settlement_term,34246.0,NaN,NaN,NaN,13.191322,8.15998,0.0,6.0,14.0,18.0,181.0

In [14]:
pd.set_option("display.max_rows", None)
display(summary)
pd.reset_option("display.max_rows")

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,2260701,2260701,68407277,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
member_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_amnt,2260668.0,NaN,NaN,NaN,15046.931228,9190.245488,500.0,8000.0,12900.0,20000.0,40000.0
funded_amnt,2260668.0,NaN,NaN,NaN,15041.664057,9188.413022,500.0,8000.0,12875.0,20000.0,40000.0
funded_amnt_inv,2260668.0,NaN,NaN,NaN,15023.437745,9192.331679,0.0,8000.0,12800.0,20000.0,40000.0
term,2260668,2,36 months,1609754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
int_rate,2260668.0,NaN,NaN,NaN,13.092829,4.832138,5.31,9.49,12.62,15.99,30.99
installment,2260668.0,NaN,NaN,NaN,445.806823,267.173535,4.93,251.65,377.99,593.32,1719.83
grade,2260668,7,B,663557,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sub_grade,2260668,35,C1,145903,NaN,NaN,NaN,NaN,NaN,NaN,NaN
emp_title,2093699,512694,Teacher,38824,NaN,NaN,NaN,NaN,NaN,NaN,NaN
emp_length,2113761,11,10+ years,748005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
home_ownership,2260668,6,MORTGAGE,1111450,NaN,NaN,NaN,NaN,NaN,NaN,NaN
annual_inc,2260664.0,NaN,NaN,NaN,77992.428687,112696.199574,0.0,46000.0,65000.0,93000.0,110000000.0
verification_status,2260668,3,Source Verified,886231,NaN,NaN,NaN,NaN,NaN,NaN,NaN
issue_d,2260668,139,Mar-2016,61992,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_status,2260668,9,Fully Paid,1076751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pymnt_plan,2260668,2,n,2260048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
url,2260668,2260668,https://lendingclub.com/browse/loanDetail.acti...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
desc,126067,124501,,252,NaN,NaN,NaN,NaN,NaN,NaN,NaN
purpose,2260668,14,debt_consolidation,1277877,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,2237343,63155,Debt consolidation,1153293,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,2260667,956,112xx,23908,NaN,NaN,NaN,NaN,NaN,NaN,NaN
addr_state,2260668,51,CA,314533,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dti,2258957.0,NaN,NaN,NaN,18.824196,14.183329,-1.0,11.89,17.84,24.49,999.0
delinq_2yrs,2260639.0,NaN,NaN,NaN,0.306879,0.86723,0.0,0.0,0.0,0.0,58.0
earliest_cr_line,2260639,754,Sep-2004,15400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fico_range_low,2260668.0,NaN,NaN,NaN,698.588205,33.010376,610.0,675.0,690.0,715.0,845.0
fico_range_high,2260668.0,NaN,NaN,NaN,702.5884,33.011245,614.0,679.0,694.0,719.0,850.0
inq_last_6mths,2260638.0,NaN,NaN,NaN,0.576835,0.885963,0.0,0.0,0.0,1.0,33.0
mths_since_last_delinq,1102166.0,NaN,NaN,NaN,34.540916,21.900471,0.0,16.0,31.0,50.0,226.0
mths_since_last_record,359156.0,NaN,NaN,NaN,72.312842,26.464094,0.0,55.0,74.0,92.0,129.0
open_acc,2260639.0,NaN,NaN,NaN,11.612402,5.640861,0.0,8.0,11.0,14.0,101.0
pub_rec,2260639.0,NaN,NaN,NaN,0.197528,0.570515,0.0,0.0,0.0,0.0,86.0
revol_bal,2260668.0,NaN,NaN,NaN,16658.458078,22948.305028,0.0,5950.0,11324.0,20246.0,2904836.0
revol_util,2258866.0,NaN,NaN,NaN,50.337696,24.713073,0.0,31.5,50.3,69.4,892.3
total_acc,2260639.0,NaN,NaN,NaN,24.162552,11.987528,1.0,15.0,22.0,31.0,176.0
initial_list_status,2260668,2,w,1535467,NaN,NaN,NaN,NaN,NaN,NaN,NaN
out_prncp,2260668.0,NaN,NaN,NaN,4206.891439,7343.238522,0.0,0.0,0.0,6149.94,40000.0
out_prncp_inv,2260668.0,NaN,NaN,NaN,4205.965357,7342.332972,0.0,0.0,0.0,6146.31,40000.0
total_pymnt,2260668.0,NaN,NaN,NaN,12082.556829,9901.383185,0.0,4546.4575,9329.72,16940.869373,63296.877917
total_pymnt_inv,2260668.0,NaN,NaN,NaN,12064.394655,9896.991745,0.0,4531.8,9309.675,16916.705,63296.88
total_rec_prncp,2260668.0,NaN,NaN,NaN,9505.771588,8321.852079,0.0,3000.0,7000.0,13899.1,40000.0
total_rec_int,2260668.0,NaN,NaN,NaN,2431.387654,2679.73784,0.0,728.1875,1525.94,3108.0625,28192.5
total_rec_late_fee,2260668.0,NaN,NaN,NaN,1.518453,11.841592,-0.0,0.0,0.0,0.0,1484.34
recoveries,2260668.0,NaN,NaN,NaN,143.879135,748.164005,0.0,0.0,0.0,0.0,39859.55
collection_recovery_fee,2260668.0,NaN,NaN,NaN,23.982566,131.225587,0.0,0.0,0.0,0.0,7174.719
last_pymnt_d,2258241,136,Mar-2019,853003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_pymnt_amnt,2260668.0,NaN,NaN,NaN,3429.345942,6018.247582,0.0,310.33,600.57,3743.75,42192.05
next_pymnt_d,915358,106,Apr-2019,912221,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_credit_pull_d,2260596,141,Mar-2019,1371381,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_fico_range_high,2260668.0,NaN,NaN,NaN,687.660995,72.970435,0.0,654.0,699.0,734.0,850.0
last_fico_range_low,2260668.0,NaN,NaN,NaN,675.53973,111.097626,0.0,650.0,695.0,730.0,845.0
collections_12_mths_ex_med,2260523.0,NaN,NaN,NaN,0.018146,0.150813,0.0,0.0,0.0,0.0,20.0
mths_since_last_major_derog,580775.0,NaN,NaN,NaN,44.16422,21.533121,0.0,27.0,44.0,62.0,226.0
policy_code,2260668.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
application_type,2260668,2,Individual,2139958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
annual_inc_joint,120710.0,NaN,NaN,NaN,123624.636701,74161.346328,5693.51,83400.0,110000.0,147995.0,7874821.0
dti_joint,120706.0,NaN,NaN,NaN,19.251817,7.822086,0.0,13.53,18.84,24.62,69.49
verification_status_joint,115730,3,Not Verified,57403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,2260639.0,NaN,NaN,NaN,0.004148,0.069617,0.0,0.0,0.0,0.0,14.0
tot_coll_amt,2190392.0,NaN,NaN,NaN,232.731739,8518.461819,0.0,0.0,0.0,0.0,9152545.0
tot_cur_bal,2190392.0,NaN,NaN,NaN,142492.195202,160692.640617,0.0,29092.0,79240.0,213204.0,9971659.0
open_acc_6m,1394538.0,NaN,NaN,NaN,0.93442,1.1407,0.0,0.0,1.0,1.0,18.0
open_act_il,1394539.0,NaN,NaN,NaN,2.779407,3.000784,0.0,1.0,2.0,3.0,57.0
open_il_12m,1394539.0,NaN,NaN,NaN,0.676431,0.925635,0.0,0.0,0.0,1.0,25.0
open_il_24m,1394539.0,NaN,NaN,NaN,1.562752,1.578672,0.0,0.0,1.0,2.0,51.0
mths_since_rcnt_il,1350744.0,NaN,NaN,NaN,21.222357,26.049187,0.0,7.0,13.0,24.0,511.0
total_bal_il,1394539.0,NaN,NaN,NaN,35506.645268,44097.455925,0.0,8695.0,23127.0,46095.0,1837038.0
il_util,1191818.0,NaN,NaN,NaN,69.14098,23.748386,0.0,55.0,72.0,86.0,1000.0
open_rv_12m,1394539.0,NaN,NaN,NaN,1.290133,1.506827,0.0,0.0,1.0,2.0,28.0
open_rv_24m,1394539.0,NaN,NaN,NaN,2.749923,2.596911,0.0,1.0,2.0,4.0,60.0
max_bal_bc,1394539.0,NaN,NaN,NaN,5806.392905,5690.561012,0.0,2284.0,4413.0,7598.0,1170668.0
all_util,1394320.0,NaN,NaN,NaN,57.032295,20.904748,0.0,43.0,58.0,72.0,239.0
total_rev_hi_lim,2190392.0,NaN,NaN,NaN,34573.942769,36728.495448,0.0,14700.0,25400.0,43200.0,9999999.0
inq_fi,1394539.0,NaN,NaN,NaN,1.012867,1.489456,0.0,0.0,1.0,1.0,48.0
total_cu_tl,1394538.0,NaN,NaN,NaN,1.477304,2.672991,0.0,0.0,0.0,2.0,111.0
inq_last_12m,1394538.0,NaN,NaN,NaN,2.036667,2.383117,0.0,0.0,1.0,3.0,67.0
acc_open_past_24mths,2210638.0,NaN,NaN,NaN,4.521656,3.164229,0.0,2.0,4.0,6.0,64.0
avg_cur_bal,2190322.0,NaN,NaN,NaN,13547.797509,16474.07501,0.0,3080.0,7335.0,18783.0,958084.0
bc_open_to_buy,2185733.0,NaN,NaN,NaN,11394.262688,16599.5344,0.0,1722.0,5442.0,14187.0,711140.0
bc_util,2184597.0,NaN,NaN,NaN,57.899948,28.583475,0.0,35.4,60.2,83.1,339.6
chargeoff_within_12_mths,2260523.0,NaN,NaN,NaN,0.008464,0.10481,0.0,0.0,0.0,0.0,10.0
delinq_amnt,2260639.0,NaN,NaN,NaN,12.369828,726.464781,0.0,0.0,0.0,0.0,249925.0
mo_sin_old_il_acct,2121597.0,NaN,NaN,NaN,125.737761,53.382175,0.0,96.0,130.0,154.0,999.0
mo_sin_old_rev_tl_op,2190391.0,NaN,NaN,NaN,181.491567,97.118454,1.0,116.0,164.0,232.0,999.0
mo_sin_rcnt_rev_tl_op,2190391.0,NaN,NaN,NaN,14.024089,17.533083,0.0,4.0,8.0,17.0,547.0
mo_sin_rcnt_tl,2190392.0,NaN,NaN,NaN,8.297469,9.208557,0.0,3.0,6.0,11.0,382.0
mort_acc,2210638.0,NaN,NaN,NaN,1.555382,1.904981,0.0,0.0,1.0,3.0,94.0
mths_since_recent_bc,2187256.0,NaN,NaN,NaN,24.844851,32.319253,0.0,6.0,14.0,30.0,661.0
mths_since_recent_bc_dlq,519701.0,NaN,NaN,NaN,39.30309,22.617689,0.0,21.0,37.0,57.0,202.0
mths_since_recent_inq,1965233.0,NaN,NaN,NaN,7.024194,5.965411,0.0,2.0,5.0,11.0,25.0
mths_since_recent_revol_delinq,740359.0,NaN,NaN,NaN,35.782223,22.307239,0.0,17.0,33.0,51.0,202.0
num_accts_ever_120_pd,2190392.0,NaN,NaN,NaN,0.500208,1.350326,0.0,0.0,0.0,0.0,58.0
num_actv_bc_tl,2190392.0,NaN,NaN,NaN,3.676069,2.324646,0.0,2.0,3.0,5.0,50.0
num_actv_rev_tl,2190392.0,NaN,NaN,NaN,5.629468,3.382874,0.0,3.0,5.0,7.0,72.0
num_bc_sats,2202078.0,NaN,NaN,NaN,4.774183,3.037921,0.0,3.0,4.0,6.0,71.0
num_bc_tl,2190392.0,NaN,NaN,NaN,7.726402,4.70143,0.0,4.0,7.0,10.0,86.0
num_il_tl,2190392.0,NaN,NaN,NaN,8.413439,7.359114,0.0,3.0,6.0,11.0,159.0
num_op_rev_tl,2190392.0,NaN,NaN,NaN,8.246523,4.683928,0.0,5.0,7.0,10.0,91.0
num_rev_accts,2190391.0,NaN,NaN,NaN,14.00463,8.038868,0.0,8.0,12.0,18.0,151.0
num_rev_tl_bal_gt_0,2190392.0,NaN,NaN,NaN,5.577951,3.293434,0.0,3.0,5.0,7.0,65.0
num_sats,2202078.0,NaN,NaN,NaN,11.62813,5.644027,0.0,8.0,11.0,14.0,101.0
num_tl_120dpd_2m,2107011.0,NaN,NaN,NaN,0.000637,0.027106,0.0,0.0,0.0,0.0,7.0
num_tl_30dpd,2190392.0,NaN,NaN,NaN,0.002814,0.056165,0.0,0.0,0.0,0.0,4.0
num_tl_90g_dpd_24m,2190392.0,NaN,NaN,NaN,0.082938,0.493573,0.0,0.0,0.0,0.0,58.0
num_tl_op_past_12m,2190392.0,NaN,NaN,NaN,2.076755,1.830711,0.0,1.0,2.0,3.0,32.0
pct_tl_nvr_dlq,2190237.0,NaN,NaN,NaN,94.114576,9.03614,0.0,91.3,100.0,100.0,100.0
percent_bc_gt_75,2185289.0,NaN,NaN,NaN,42.435127,36.216157,0.0,0.0,37.5,71.4,100.0
pub_rec_bankruptcies,2259303.0,NaN,NaN,NaN,0.128194,0.364613,0.0,0.0,0.0,0.0,12.0
tax_liens,2260563.0,NaN,NaN,NaN,0.046771,0.377534,0.0,0.0,0.0,0.0,85.0
tot_hi_cred_lim,2190392.0,NaN,NaN,NaN,178242.753744,181574.814655,0.0,50731.0,114298.5,257755.0,9999999.0
total_bal_ex_mort,2210638.0,NaN,NaN,NaN,51022.938462,49911.235666,0.0,20892.0,37864.0,64350.0,3408095.0
total_bc_limit,2210638.0,NaN,NaN,NaN,23193.768173,23006.558239,0.0,8300.0,16300.0,30300.0,1569000.0
total_il_high_credit_limit,2190392.0,NaN,NaN,NaN,43732.013476,45072.982192,0.0,15000.0,32696.0,58804.25,2118996.0
revol_bal_joint,108020.0,NaN,NaN,NaN,33617.278847,28153.874309,0.0,15106.75,26516.5,43769.0,1110019.0
sec_app_fico_range_low,108021.0,NaN,NaN,NaN,669.755603,44.729163,540.0,645.0,670.0,695.0,845.0
sec_app_fico_range_high,108021.0,NaN,NaN,NaN,673.755631,44.729272,544.0,649.0,674.0,699.0,850.0
sec_app_earliest_cr_line,108021,663,Aug-2006,998,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,108021.0,NaN,NaN,NaN,0.633256,0.993401,0.0,0.0,0.0,1.0,6.0
sec_app_mort_acc,108021.0,NaN,NaN,NaN,1.538997,1.760569,0.0,0.0,1.0,2.0,27.0
sec_app_open_acc,108021.0,NaN,NaN,NaN,11.469455,6.627271,0.0,7.0,10.0,15.0,82.0
sec_app_revol_util,106184.0,NaN,NaN,NaN,58.169101,25.548212,0.0,39.8,60.2,78.6,434.3
sec_app_open_act_il,108021.0,NaN,NaN,NaN,3.010554,3.275893,0.0,1.0,2.0,4.0,43.0
sec_app_num_rev_accts,108021.0,NaN,NaN,NaN,12.533072,8.150964,0.0,7.0,11.0,17.0,106.0
sec_app_chargeoff_within_12_mths,108021.0,NaN,NaN,NaN,0.046352,0.411496,0.0,0.0,0.0,0.0,21.0
sec_app_collections_12_mths_ex_med,108021.0,NaN,NaN,NaN,0.077568,0.407996,0.0,0.0,0.0,0.0,23.0
sec_app_mths_since_last_major_derog,35942.0,NaN,NaN,NaN,36.937928,23.924584,0.0,16.0,36.0,56.0,185.0
hardship_flag,2260668,2,N,2259836,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hardship_type,10917,1,INTEREST ONLY-3 MONTHS DEFERRAL,10917,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hardship_reason,10917,9,NATURAL_DISASTER,2965,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hardship_status,10917,3,COMPLETED,7819,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deferral_term,10917.0,NaN,NaN,NaN,3.0,0.0,3.0,3.0,3.0,3.0,3.0
hardship_amount,10917.0,NaN,NaN,NaN,155.045981,129.040594,0.64,59.44,119.14,213.26,943.94
hardship_start_date,10917,27,Sep-2017,2444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hardship_end_date,10917,28,Dec-2017,1756,NaN,NaN,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,10917,27,Sep-2017,1715,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hardship_length,10917.0,NaN,NaN,NaN,3.0,0.0,3.0,3.0,3.0,3.0,3.0
hardship_dpd,10917.0,NaN,NaN,NaN,13.743886,9.671178,0.0,5.0,15.0,22.0,37.0
hardship_loan_status,10917,5,Late (16-30 days),4770,NaN,NaN,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,8651.0,NaN,NaN,NaN,454.798089,375.3855,1.92,175.23,352.77,620.175,2680.89
hardship_payoff_balance_amount,10917.0,NaN,NaN,NaN,11636.883942,7625.988281,55.73,5627.0,10028.39,16151.89,40306.41
hardship_last_payment_amount,10917.0,NaN,NaN,NaN,193.994321,198.629496,0.01,44.44,133.16,284.19,1407.86
disbursement_method,2260668,2,Cash,2182546,NaN,NaN,NaN,NaN,NaN,NaN,NaN
debt_settlement_flag,2260668,2,N,2226422,NaN,NaN,NaN,NaN,NaN,NaN,NaN
debt_settlement_flag_date,34246,83,Feb-2019,2606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_status,34246,3,ACTIVE,14704,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_date,34246,90,Jan-2019,1710,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_amount,34246.0,NaN,NaN,NaN,5010.664267,3693.12259,44.21,2208.0,4146.11,6850.1725,33601.0
settlement_percentage,34246.0,NaN,NaN,NaN,47.780365,7.311822,0.2,45.0,45.0,50.0,521.35
settlement_term,34246.0,NaN,NaN,NaN,13.191322,8.15998,0.0,6.0,14.0,18.0,181.0

In [20]:
summary[summary['unique'] < 10]

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
term,2260668,2,36 months,1609754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
grade,2260668,7,B,663557,NaN,NaN,NaN,NaN,NaN,NaN,NaN
home_ownership,2260668,6,MORTGAGE,1111450,NaN,NaN,NaN,NaN,NaN,NaN,NaN
verification_status,2260668,3,Source Verified,886231,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_status,2260668,9,Fully Paid,1076751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pymnt_plan,2260668,2,n,2260048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
initial_list_status,2260668,2,w,1535467,NaN,NaN,NaN,NaN,NaN,NaN,NaN
application_type,2260668,2,Individual,2139958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
verification_status_joint,115730,3,Not Verified,57403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hardship_flag,2260668,2,N,2259836,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hardship_type,10917,1,INTEREST ONLY-3 MONTHS DEFERRAL,10917,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hardship_reason,10917,9,NATURAL_DISASTER,2965,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hardship_status,10917,3,COMPLETED,7819,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,10917,5,Late (16-30 days),4770,NaN,NaN,NaN,NaN,NaN,NaN,NaN
disbursement_method,2260668,2,Cash,2182546,NaN,NaN,NaN,NaN,NaN,NaN,NaN
debt_settlement_flag,2260668,2,N,2226422,NaN,NaN,NaN,NaN,NaN,NaN,NaN
settlement_status,34246,3,ACTIVE,14704,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cols_small_unique = summary[summary['unique'] < 10].index.tolist()
for col in cols_small_unique:
    print(f"Column: {col}")
    print(df[col].value_counts(dropna=False))  # includes NaN if any
    print("-" * 40)

In [23]:
from IPython.display import display, HTML

output = ""
for col in cols_small_unique:
    output += f"<b>Column: {col}</b><br>"
    output += df[col].value_counts(dropna=False).to_frame().to_html()
    output += "<hr>"

display(HTML(f"<div style='height:600px; overflow:auto'>{output}</div>"))